.main-grid {
  text-align: center;

  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:  "topbar topbar"
                        "view   treeview"
                        "view   toolbox";
  grid-template-rows: 4% 48% 48%;
  grid-template-columns: 80% 20%;
}

#topbar {
  grid-area: topbar;
  background-color: #404040;
}

#view {
  grid-area: view;
  background-color: #909090;
}

#treeview {
  grid-area: treeview;
  background-color: #609090;
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(4, 25%);
  overflow: auto;
}

#toolbox {
  grid-area: toolbox;
  background-color: #906060;
}

.svg-view {
  width: 100%;
  height: 100%;
}